@charset "UTF-8";

@use 'variable' as v;
@use 'mixin' as m;

/*-----------------------------------------
ヘッダー
------------------------------------------*/
.header{
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	z-index: 10;
}

.header__logo{
	width: 180px;
}

/*-----------------------------------------
ハンバーガーメニュー
------------------------------------------*/
/* ハンバーガーメニューボタン(.hamburger-menu)のCSSを書いてください */
.hamburger-menu {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.4s;
}
/* ハンバーガーメニューボタンにカーソルを合わせた時のCSSを書いてください */
.hamburger-menu:hover {
  opacity: 0.5;
}

/* ハンバーガーメニューボタン内の3本線のCSSを書いてください */
.hamburger-menu span {
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  transition: 0.4s ease-in-out;
}

/* それぞれの線の位置を指定するCSSを書いてください */
.hamburger-menu span:nth-child(1) {
  top: 10px;
}

.hamburger-menu span:nth-child(2) {
  top: 20px;
}

/* ナビゲーションのCSSを書いてください */
#hamburger-navigation {
  position: fixed;
  top: 0;
  left: 0;
	right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* ナビゲーション内のセクションのCSSを書いてください */
.sections {
  list-style: none;
  margin-top: 36px;
	margin-left: 50px;
}

/* セクション内のリストのCSSを書いてください */
.hamburger-menu-section {
  margin-bottom: 14px;

	a {
		color: #fff;
		font-weight: normal;
		font-size: 1.4rem;
	}
}

/* ナビゲーションを表示するためのCSSを書いてください */
#hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
}

/* ナビゲーションを表示するためのCSSを書いてください */
/* ナビゲーションが表示している時のボタンがXになるようCSSを書いてください */
.hamburger-menu.active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
  background: #fff;
}

.hamburger-menu.active span:nth-child(2) {
  top: 15px;
  transform: rotate(45deg);
  background: #fff;
}