@charset "UTF-8";

@use "variable" as v;
@use "mixin" as m;

/*-----------------------------------------
プロダクトページ
------------------------------------------*/
.product__wrap {
  margin-top: 120px;
  padding-bottom: 121px;
}

.pagination {
  width: 56px;
  margin: auto;
}

.page-numbers {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.pagination-list {
  font-size: 1.4rem;
}
