@charset "UTF-8";

@use '../abstracts/variable' as v;
@use '../abstracts/mixin' as m;

.wrap{
	max-width: 1360px;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
	margin: auto;
}

.wrapper{
	margin-top: 80px;
	padding-bottom: 121px;

	@include m.sp{
		padding-bottom: 102px;
	}
}